<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.blurred_email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="with-margin">
  <% if @user.posts.empty? %>
    <span>'No Posts'</span>
  <% else %>
    <%= render 'posts/posts', posts: @user.posts %>
  <% end %>
</div>